   <!-- Sidebar navigation-->
   <nav class="sidebar-nav m-2">
      <ul id="sidebarnav">
         <li class="sidebar-item list-group">
            <a class="sidebar-link list-group-item list-group-item-action"
            href="{{ path('categories_list', {'category':44}) }}" >Ремонт автомобилей</a>
         </li>
         <li class="sidebar-item list-group">
            <a href="{{ path('categories_list', {'category':22}) }}" class="sidebar-link list-group-item list-group-item-action" >Болезни автомобилей</a></li>
         <li class="sidebar-item list-group">
            <a href="{{ path('categories_list', {'category':18}) }}" class="sidebar-link list-group-item list-group-item-action" >Техобслуживание</a></li>
         <li class="sidebar-item list-group">
            <a href="{{ path('categories_list', {'category':16}) }}" class="sidebar-link list-group-item list-group-item-action">Ремонт кузова</a></li>
         <li class="sidebar-item list-group">
            <a href="{{ path('app_body') }}" class="sidebar-link list-group-item list-group-item-action">Кузовные размеры</a></li>
      </ul>
   </nav>

