<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5" style="background-color:#000">
   <!-- Sidebar scroll-->
   <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
         <ul id="sidebarnav" class="p-t-30">
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                         href="{{ path('dashboard') }}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('admin_category_index') }}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Категории</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('admin_post_index') }}" aria-expanded="false"><i class="mdi mdi-note"></i><span class="hide-menu">Материалы</span></a>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false" data-toggle="modal" data-target="#manager"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Галерея</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Кузов</span></a>
               <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('admin_body_category_index') }}" aria-expanded="false"><i class="mdi mdi-car"></i><span class="hide-menu">Марки</span></a>
                  <li class="sidebar-item"><a href="{{ path('admin_plan_index') }}" class="sidebar-link"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu"> Чертежи </span></a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <!-- End Sidebar navigation -->
   </div>
   <!-- End Sidebar scroll-->
</aside>
<!-- Modal -->
<div class="modal fade" id="manager" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog mw-100 w-75 modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Галерея изображений</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body modal-xl">
            <iframe src="{{ path('file_manager',{'conf':'default'}) }}"
            width="100%"
            marginwidth="20"
            height="500"
          ></iframe>
         </div>
      </div>
   </div>
</div>
<!-- ============================================================== -->