{% extends 'admin/main.html.twig' %}
{% block main %}
     <div class="row">
         <div class="col-12">
             <div class="card">
                 <div class="card-header">
                     <h5 class="card-title">Добавить модель (категорию чертежей)</h5>
                 </div>
                 <div class="card-body">
                     {{ form_start(form) }}
                     <div>
                         {{ form_errors(form) }}
                     </div>
                     <div class="row">
                         <div class="col-lg-8">
                             <label  for="images">Логотип
                                 <div class="row ">
                                     <div class="col-10">
                                         {{ form_widget(form.image,
                                             {'attr':
                                                 {'class': 'form-control',
                                                     'id':'body_category_image',
                                                     'type':'text',
                                                 }
                                             }) }}
                                     </div>
                                     <div class="col-2">
                                         <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bodyModal">
                                             <span class="glyphicon glyphicon-folder-open"></span>Галерея
                                         </button>
                                     </div>
                                 </div>
                             </label>
                         </div>
                     </div>
                   <div class="row">
                        <label class="col-lg-6" for="title">Название
                           {{ form_widget(form.title,
                               {'attr':
                                   {'class': 'form-control','id':'title'}
                               }) }}
                            <div class="text-danger">
                            {{ form_errors(form.title) }}
                            </div>
                        </label>

                       <label class="col-lg-6" for="title">Slug
                           {{ form_widget(form.slug,
                               {'attr':
                                   {'class': 'form-control','id':'slug'}
                               }) }}
                            <div class="text-danger">
                                {{ form_errors(form.slug) }}
                            </div>
                       </label>
                       <label class="col-lg-12" for="description">Описание
                           {{ form_widget(form.description,
                               {'attr':
                                   {'class': 'form-control','id':'description'}
                               }) }}
                       </label>
                       <label class="col-lg-8" for="parent">
                           Родительская категория
                           {{ form_widget(form.parent,
                               {'attr':
                                   {'class': 'form-control','id':'parent'}
                               }) }}
                       </label>
                       <div class="col-lg-4">
                       <div class="form-check">
                                {{ form_widget(form.published,
                                    {'attr':
                                        {'class': 'form-check-input',
                                            'id':'published',
                                            'type':'checkbox'
                                        }
                                    }) }}
                                <label class="form-check-label" for="published">
                                    Опубликовано
                                </label>
                       </div>
                       </div>
                       <label class="col-lg-12" for="metakey">Заголовок для браузера
                           {{ form_widget(form.metatitle,
                               {'attr':
                                   {'class': 'form-control','id':'metatitle'}
                               }) }}
                           <small id="emailHelp" class="form-text text-muted">Формируется из заголовка автоматически. Может быть изменен.</small>
                       </label>
                       <label class="col-lg-12" for="metakey">Ключевые слова
                           {{ form_widget(form.metakey,
                               {'attr':
                                   {'class': 'form-control','id':'metakey'}
                               }) }}
                       </label>
                       <label class="col-lg-12" for="metadesc">Мета-описание
                           {{ form_widget(form.metadesc,
                               {'attr':
                                   {'class': 'form-control','id':'description'}
                               }) }}
                       </label>
                   </div>

                     <a href="{{ path('admin_body_category_index') }}" class="btn btn-link">
                         <i class="fa fa-list-alt" aria-hidden="true"></i> Cancel
                     </a>

                     {{ form_end(form) }}

                 </div>
             </div>
         </div>
    </div>

    <!-- Modal -->
    <div class="modal  fade" id="bodyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'button'}) }}" width="100%" height="500"
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#myframe').on('load', function () {
                $(this).contents().on('click','.select',function () {
                    var path = $(this).attr('data-path')
                    $('#body_category_image').val(path);
                    $('#image').attr('src', path)
                    $('#bodyModal').modal('hide')
                });
            });

        });
    </script>
{% endblock %}






