{% extends 'admin/main.html.twig' %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Редактировать категорию</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    <div class="row">
                        <label class="col-lg-6" for="title">Название категории
                            {{ form_widget(form.title,
                                {'attr':
                                    {'class': 'form-control','id':'title'}
                                }) }}
                            <div class="text-danger">
                                {{ form_errors(form.title) }}
                            </div>
                        </label>


                        <label class="col-lg-6" for="title">Alias
                            {{ form_widget(form.alias,
                                {'attr':
                                    {'class': 'form-control','id':'alias'}
                                }) }}
                            <div class="text-danger">
                                {{ form_errors(form.alias) }}
                            </div>
                        </label>
                        <label class="col-lg-12" for="description">Описание
                            {{ form_widget(form.description,
                                {'attr':
                                    {'class': 'form-control','id':'description'}
                                }) }}
                        </label>
                        <label class="col-lg-6" for="parent">
                            Родительская категория
                            {{ form_widget(form.parent,
                                {'attr':
                                    {'class': 'form-control','id':'parent'}
                                }) }}
                        </label>
                        <div class="form-control col-lg-3">
                            <div class="form-check">
                                {{ form_widget(form.published,
                                    {'attr':
                                        {'class': 'form-check-input',
                                            'id':'published',
                                            'type':'checkbox'
                                        }
                                    }) }}
                                <label class="form-check-label" for="published">
                                    Опубликовано
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            Создано: <br>{{ category.createdTime|date('d-m-Y')}}
                        </div>
                        <label class="col-lg-12" for="metakey">Заголовок для браузера
                            {{ form_widget(form.metatitle,
                                {'attr':
                                    {'class': 'form-control','id':'metatitle'}
                                }) }}
                            <small id="emailHelp" class="form-text text-muted">Формируется из заголовка автоматически. Может быть изменен.</small>
                        </label>
                        <label class="col-lg-12" for="metakey">Ключевые слова
                            {{ form_widget(form.metakey,
                                {'attr':
                                    {'class': 'form-control','id':'metakey'}
                                }) }}
                        </label>
                        <label class="col-lg-12" for="metadesc">Мета-описание
                            {{ form_widget(form.metadesc,
                                {'attr':
                                    {'class': 'form-control','id':'description'}
                                }) }}
                        </label>
                    </div>

                    <a href="{{ path('admin_category_index') }}" class="btn btn-link">
                        <i class="fa fa-list-alt" aria-hidden="true"></i> Cancel
                    </a>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

