<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Автомобили в Беларуси. Законодательство, кузовные размеры, ремонт.{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('assets/front/css/styles.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/front/css/all.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/front/css/fontawesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/front/css/fontawesome-4.5.0.min.css') }}" rel="stylesheet"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ asset('assets/front/js/scripts.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/dist/js/sidebarmenu.js')}}"></script>
        {% endblock %}
    </head>
    <body id="page-top">
    {{ include('front/inc/_header.html.twig') }}
    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
    {% if not(currentPath == '/') %}
    <div class="row">
        <div class="col-lg-3 col-sm-4">
            {{ include('front/inc/_sidebar.html.twig') }}
        </div>
        <div class="col-lg-9 col-sm-8">
    {% endif %}
                {% block body %}{% endblock %}
    {% if not(currentPath == '/') %}
            </div>
        </div>
    {% endif %}

    {{ include('front/inc/_footer.html.twig') }}
    </body>
</html>
