{{ form_start(form) }}
<div>
    {{ form_errors(form) }}
</div>
<div class="row">
    <div class="col-lg-8">
        <label  for="images">Файл
            <div class="row ">
                <div class="col-10">
                    {{ form_widget(form.filename,
                        {'attr':
                            {'class': 'form-control',
                                'id':'filename',
                                'type':'text',
                            }
                        }) }}
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bodyModal">
                        <span class="glyphicon glyphicon-folder-open"></span>Галерея
                    </button>
                </div>
            </div>
        </label>
    </div>
    <div class="col-lg-2">
        {% if (plan.filename) is not null %}
            <img src="{{ asset( plan.filename) }}" class="img-responsive w-50" id="image" alt="">
        {% else %}
            <p>нет изображения</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <label class="col-lg-4" for="title">Название
        {{ form_widget(form.name,
            {'attr':
                {'class': 'form-control','id':'name'}
            }) }}
        <div class="text-danger">
            {{ form_errors(form.name) }}
        </div>
    </label>

    <label class="col-lg-4" for="title">Origin Name
        {{ form_widget(form.originalFilename,
            {'attr':
                {'class': 'form-control','id':'originalFilename'}
            }) }}
    </label>
    <label class="col-lg-4" for="body">
        Модель
        {{ form_widget(form.body,
            {'attr':
                {'class': 'form-control','id':'body'}
            }) }}
    </label>
    <div class="form-check col-lg-4">
            {{ form_widget(form.diagonal,
                {'attr':
                    {'class': 'form-check-input',
                        'id':'diagonal',
                        'type':'checkbox'
                    }
                }) }}
            <label class="form-check-label" for="diagonal">
                Есть диагонали
            </label>
    </div>
</div>

<a href="{{ path('admin_plan_index') }}" class="btn btn-link">
    <i class="fa fa-list-alt" aria-hidden="true"></i> Cancel
</a>
{{ form_end(form) }}

<!-- Modal -->
<div class="modal  fade" id="bodyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File Manager</h4>
            </div>
            <div class="modal-body">
                <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'button'}) }}" width="100%" height="500"
                        frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
