{% extends 'admin/main.html.twig' %}
{% block main %}
     <div class="row">
         <div class="col-12">
             <div class="card">
                 <div class="card-header">
                     <h5 class="card-title">Добавить материал</h5>
                 </div>
                 <div class="card-body">
                     {{ form_start(form) }}
                     <div class="my-custom-class-for-errors">
                         {{ form_errors(form) }}
                     </div>
                   <div class="row">
                        <label class="col-lg-4" for="title">Название
                           {{ form_widget(form.title,
                               {'attr':
                                   {'class': 'form-control','id':'title'}
                               }) }}
                        </label>

                       <label class="col-lg-4" for="alias">Alias
                           {{ form_widget(form.alias,
                               {'attr':
                                   {'class': 'form-control','id':'alias'}
                               }) }}
                       </label>

                       <label class="col-lg-4" for="created">Дата
                           {{ form_widget(form.created,
                               {'attr':
                                   {'class': 'form-control js-datepicker','id':'created'},
                               }
                           ) }}
                       </label>

                       <label class="col-lg-6" for="category">
                           Категория
                           {{ form_widget(form.category,
                               {'attr':
                                   {'class': 'form-control','id':'category'}
                               }) }}
                       </label>
                       <div class="form-control col-lg-3">
                           <div class="form-check">
                                    {{ form_widget(form.published,
                                        {'attr':
                                            {'class': 'form-check-input',
                                                'id':'published',
                                                'type':'checkbox'
                                            }
                                        }) }}
                                    <label class="form-check-label" for="published">
                                        Опубликовано
                                    </label>
                           </div>
                           <div class="form-check">
                               {{ form_widget(form.featured,
                                   {'attr':
                                       {'class': 'form-check-input',
                                           'id':'featured',
                                           'type':'checkbox'
                                       }
                                   }) }}
                               <label class="form-check-label" for="featured">
                                   Избранное
                               </label>
                           </div>
                       </div>

                       <label class="col-lg-3" for="ordering">Порядок
                            {{ form_widget(form.ordering,
                               {'attr':
                                   {'class': 'form-control',
                                   'id':'ordering',
                               },
                               'type':'number'
                            }) }}
                       </label>
                       <label class="col-lg-12" for="introtext">Аннотация
                           {{ form_widget(form.introtext,
                               {'attr':
                                   {'class': 'form-control','id':'introtext'}
                               }) }}
                       </label>
                       <label class="col-lg-12" for="full_text">Полный текст
                           {{ form_widget(form.fullText,
                               {'attr':
                                   {'class': 'form-control','id':'introtext'}
                               }) }}
                       </label>

                       <label class="col-lg-12" for="metakey">Ключевые слова
                           {{ form_widget(form.metakey,
                               {'attr':
                                   {'class': 'form-control','id':'metakey'}
                               }) }}
                       </label>
                       <label class="col-lg-12" for="metadesc">Мета-описание
                           {{ form_widget(form.metadesc,
                               {'attr':
                                   {'class': 'form-control','id':'description'}
                               }) }}
                       </label>
                   </div>

                     <a href="{{ path('admin_post_index') }}" class="btn btn-link">
                         <i class="fa fa-list-alt" aria-hidden="true"></i> Закрыть
                     </a>

                     {{ form_end(form) }}

                 </div>
             </div>
         </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}






